<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>260429351721-01n8m645ph4rjn0dohlj7vnbagsbferb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260429351721-01n8m645ph4rjn0dohlj7vnbagsbferb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>260429351721-a21maif61lm5sjc0o85fsqgmmah5cmfs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1TtsV-45h6GYUf6DXR9oICaZwdTJxgx8</string>
	<key>GCM_SENDER_ID</key>
	<string>260429351721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hipl.hoopoun</string>
	<key>PROJECT_ID</key>
	<string>hoopoun-49cff</string>
	<key>STORAGE_BUCKET</key>
	<string>hoopoun-49cff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260429351721:ios:c928f792110f3a9d</string>
	<key>DATABASE_URL</key>
	<string>https://hoopoun-49cff.firebaseio.com</string>
</dict>
</plist>