<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_key</key>
	<string>1uSRtzubVoARJVhOjZFp3pHXN</string>
	<key>consumer_secret</key>
	<string>krCMz6fWU6jYRgSf5wzdHdrTG7SfFG3jilzLqB8TDrWbWxE901</string>
	<key>New item</key>
	<string></string>
</dict>
</plist>
